{% extends template %}
{% load staticfiles %}

{% block title %}
    EdInHi
{% endblock%}


{% block content %}

                <section id="banner">
					<div class="6u">
						<h2>EdInHi</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
						sed diam nonummy nibh euismod tincidunt ut laoreet dolore
						magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
						quis nostrud exerci tation ullamcorper suscipit lobortis nisl
						ut aliquip ex ea commodo consequat.
						</p>
						<ul class="actions">
							<li><a href="#" class="button special">Sign up</a></li>
						</ul>
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>About</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                            dolor in hendrerit in vulputate velit esse molestie consequat
                            </p>
						</header>
					</section>

					<section class="box">
						<div class="box alt">
							<div class="row no-collapse 50% uniform">
								<div class="6u">
									<span class="image fit"><img src="{% static "images/pic04.jpg" %}" alt="" /></span>
								</div>
								<div class="6u">
									<a href="#"><h3>Company</h3></a>
									<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
									adipiscing nunc adipiscing. Condimentum turpis massa vel illum dolore eu feugiat nulla facilisis at vero eros et
									accumsan et iusto odio dignissim qui blandit praesent luptatum
									zzril.</p>
								</div>
							</div>
							<div class="row no-collapse 50% uniform">
								<div class="6u company_box">
									<span class="image fit"><img src="{% static "images/pic04.jpg" %}" alt="" /></span>
                                    <a href="#">
                                        <span class="company_content">
                                                <h3>Company</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                                magna aliquam erat volutpat.</p>
                                        </span>
                                    </a>
								</div>
								<div class="6u company_box">
									<span class="image fit"><img src="{% static "images/pic04.jpg" %}" alt="" /></span>
										<a href="#">
									<span class="company_content">
											<h3>Company</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
											sed diam nonummy nibh euismod tincidunt ut laoreet dolore
											magna aliquam erat volutpat.</p>
									</span>
										</a>
								</div>
							</div>
						</div>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<a href="#"><h3>Magna etiam</h3></a>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<a href="#"><h3>Magna etiam</h3></a>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<a href="#"><h3>Magna etiam</h3></a>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<a href="#"><h3>Magna etiam</h3></a>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section>

				</section>

{% endblock %}
