{%extends 'main_app/base.html' %}
{% block title %}
    EdInHi
{% endblock%}

{% block content %}
<br><br><br><br><br>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <form role="form">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Re-password:</label>
        <input type="password" class="form-control" id="re-pwd">
      </div>
      <button type="submit" class="btn btn-info">Sign up</button>
      <a href="{% url "index" %}" class="btn btn-default">Back</a>
    </form>
    </div>
</div>
<br><br>
{% endblock%}s