{% extends "main_app/base.html" %}
{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block content %}
    <br><br><br><br><br>
    <div class="row">
        <div class="col-sm-4">
            {% if user.abstractuser.profile_image %}
                <img src="{{ user.abstractuser.profile_image.url }}" alt="My Image" style = "width: 300px; height: 300px;">
            {% else %}
                <img src="{% static "images/temp.png" %}">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>
                    <input name="firstName" type="text" class="form-control" value="{{ user.first_name }}">
                </h4>
                <h4>
                    <input name="lastName" type="text" class="form-control" value="{{ user.last_name }}">
                </h4>
                <table class="table">
                    <tr>
                        <td>e-mail:</td>
                        <td>qwerty@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input name="phoneNumber" type="number" class="form-control"
                                   value="{{ user.abstractuser.phone }}">
                        </td>
                    </tr>
                    <input id="image" type="file" class="" name="file">
                </table>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="{% url "index" %}" class="btn btn-default">Back</a>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}
