{% extends "main_app/base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="margin-top: 70px">
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input name="firstName" type="text" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="pwd">Last Name:</label>
                    <input name="lastName" type="text" class="form-control" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input name="phoneNumber" type="number" class="form-control" value="{{ user.abstractuser.phone }}">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    {% if user.abstractuser.profile_image %}
                        <img src='{{ user.abstractuser.profile_image.url }}' alt="Allah Akbar" width="200px" height="200px" style="top: 0px; left: -250px; position: absolute">
                    {% endif %}
                    {# Sorry Aziza, I've tried...#}
                    <input id="image" type="file" class="" name="file">
                </div>
            <button type="submit" class="btn btn-info">Save</button>
            <a href="{% url "index" %}" class="btn btn-default">Back</a>
            </form>
        </div>
    </div>
{% endblock %}