{% extends "main_app/base.html" %}
{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container">
        <div class="row">
        
            <div class="container container-main form-box profile-box">
                <div class="col-md-4">
                    <div class="avatar">
                    {% if profile.abstractuser.profile_image %}
                        <img class="img-rounded" src="{{ profile.abstractuser.profile_image.url }}" alt="My Image">
                    {% else %}
                        <img class="img-rounded" src="{% static "images/avatarTemp.png" %}" alt="My Image">
                    {% endif %}                    
                        <div class="input-group">
                            <label class="button-group ">
                                <a class="btn btn-default">
                                    Browse&hellip; <input type="file" style="display: none;" name="file" multiple>
                                </a>
                            </label>
                            <label id="file_name">
                                Upload avatar 
                            </label>
                        </div>
                    </div>                    
                </div>
                
                <div class="col-md-6">
                    <h1 style="margin-top:0px"> Personal Information </h1>
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="profile-label">
                                <label>First Name:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.first_name }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>Last Name:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.last_name }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>Country:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.abstractuser.country }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>City:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.abstractuser.city }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>Organization:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.abstractuser.organization }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>Experience:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.abstractuser.worked_at }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-label">
                                <label>Phone Number:</label>
                            </td>
                            <td class="profile-input">
                                <label>{{ profile.abstractuser.phone }}</label>
                            </td>
                        </tr>
                    </table>
                     
                </div>            
            </div> 
        </div>               
    <br>
    <!--
    <p>Vacancies in WishList : </p>
    {% for vacancy in user.wishlist.vacancy_set.all %}
        <p><a href="{% url 'detail_vacancy' vacancy.id%}">{{ vacancy.name }}</a></p>
    {% endfor %}
    -->
</div>      
{% endblock %}
