{% extends "main_app/base.html" %}

{% block title %}All vacancies{% endblock %}

{% block content %}
    <br><br><br>
    {% for vacancy in vacancies %}

        <h1>{{ vacancy.name }}</h1>

        <div class="form-group">
            <form action="{% url "company_edit_vacancy" vacancy.id %}" method="POST" style="display: inline-block;">
                {% csrf_token %}
                <input type="submit" value="Edit Vacancy"/>
            </form>

            <form action="{% url "company_delete_vacancy" vacancy.id %}" method="POST" style="display: inline-block;">
                {% csrf_token %}
                <input type="submit" value="Delete Vacancy"/>
            </form>
        </div>
    {% endfor %}
{% endblock %}
