{% extends "main_app/base.html" %}
{% load staticfiles %}

{% block title %} Company Profile {% endblock %}

<body>
{% block content %}
<div class="container">
    <div class="row uniform">
        <div class="box form-box">
            <div class="text-image-box">
                <span class="image featured">
                    <img src="{% static "user.logo" %}" alt="" />
                </span>
                <div class="blur-bg"></div>
                <h3>Company</h3>
            </div>
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input name="name" type="text" class="form-control" value="{{ user.name }}">
                </div>
                <div class="form-group">
                    <label for="Webpage">Website:</label>
                    <input name="web_page" type="text" class="form-control" value="{{ user.web_page }}">
                </div>
                <div class="form-group">
                    <label for="contact_phone">Contact phone:</label>
                    <input name="contact_phone" type="text" class="form-control"
                           value="{{ user.contact_phone }}">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    {% if user.logo %}
                        <img src='{{ company }}' alt="No Image" width="200px" height="200px"
                             style="top: 0px; left: -250px; position: absolute">
                    {% endif %}
                    <input id="image" type="file" class="" name="logo">
                </div>
                <button type="submit" class="button special">Save</button>
                <a href="{% url "index" %}" class="button">Back</a>
            </form>
            <a href="{% url "company_add_vacancy" %}" class="button">Add Vacancy</a>

            {% for vacancy in vacancies %}
                <p>{{ vacancy.name }}</p>
                <form action="{% url "company_delete_vacancy" vacancy.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete Vacancy"/>
                </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
