{% extends "main_app/base.html" %}
{% load staticfiles %}

{% block title %} Company Profile {% endblock %}

<body>
{% block content %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="margin-top: 70px">
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input name="name" type="text" class="form-control" value="{{ user.abstractuser.name }}">
                </div>
                <div class="form-group">
                    <label for="Webpage">Website:</label>
                    <input name="webpage" type="text" class="form-control" value="{{ user.abstractuser.web_page }}">
                </div>
                <div class="form-group">
                    <label for="ContactPhone">Contact phone:</label>
                    <input name="contactPhone" type="number" class="form-control"
                           value="{{ user.abstractuser.contact_phone }}">
                </div>
                <div class="form-group">
                    <label for="image">Image:</label>
                    {% if user.abstract_user.logo %}
                        <img src='{{ company }}' alt="No Image" width="200px" height="200px"
                             style="top: 0px; left: -250px; position: absolute">
                    {% endif %}
                    <input id="image" type="file" class="" name="file">
                </div>
                <button type="submit" class="btn btn-info">Save</button>
                <a href="{% url "index" %}" class="btn btn-default">Back</a>
            </form>
        </div>
    </div>
    <a href="{% url "company_add_vacancy" %}">Add Vacancy</a>
    {% for vacancy in vacancies %}
        <p>{{ vacancy.name }}</p>
        <form action="{% url "company_delete_vacancy" vacancy.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete Vacancy"/>
        </form>
    {% endfor %}
{% endblock %}
</body>
</html>
