{% extends "main_app/base.html" %}
{% load staticfiles %}

{% block title %} User {% endblock %}

{% block content %}
    <br><br><br><br><br>
                <form role="form" method="POST" enctype="multipart/form-data">
    <div class="row">

        <div class="container">
            <div class="col-md-4">
            {% if user.abstractuser.profile_image %}
                <img class="img-rounded" src="{{ user.abstractuser.profile_image.url }}" alt="My Image" style="width: 200px; height: 200px;">
            {% else %}
                <img class="img-rounded" src="{% static "images/avatarTemp.png" %}" alt="My Image" style="width: 200px; height: 200px;">
            {% endif %}
                <br>
            </div>

        <div class="col-md-6">
            <h1> <b> Personal Information </b> </h1>
                <h4>
                    <b>First Name</b>
                  <h3>{{ user.first_name }}</h3>
                </h4>
                <h4>
                    <b>Last Name</b>
                  <h3>{{ user.last_name }}</h3>
                </h4>
                <h4>
                    <b>University/School</b>
                  <h3>{{ user.abstractuser.organization }}</h3>
                </h4>
                <h4>
                    <b>Experience</b>
                  <h3>{{ user.abstractuser.experience }}</h3>
                </h4>
                <h4>
                    <b>Phone Number</b>
                  <h3>{{ user.abstractuser.phone }}</h3>
                </h4>
                <a href="{% url "all_users" %}" class="btn btn-default">Back</a>
            </form>
            <br>
            <!--
            <p>Vacancies in WishList : </p>
            {% for vacancy in user.wishlist.vacancy_set.all %}
                <p><a href="{% url 'detail_vacancy' vacancy.id%}">{{ vacancy.name }}</a></p>
            {% endfor %}
            -->
            <br>
            <br>
            </div>
        </div>
    </div>
{% endblock %}
