{% extends "main_app/base.html" %}

{% block title %}All users{% endblock %}

{% block content %}
    <br><br><br>
    {% for user in users %}
      {% if user.abstractuser.is_company == False %}
        <h1>User name: {{ user.username }}</h1>
        <h1>Phone: {{ user.abstractuser.phone }}</h1>
        <form action="{% url "user" user.id %}" method="POST" style="display: inline-block;">
            {% csrf_token %}
            <input type="submit" value="About"/>
        </form>
      {% endif %}
    {% endfor %}
{% endblock %}
