{% extends 'main_app/base.html' %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}
    <br><br><br>
    <p>{{ company.name }}</p>
    <br>
    <p>Current Vacancies :</p>
    {% for vacancy in company.vacancies.all %}
        <p>{{ vacancy.name }}</p>

        <form action="{% url "add_vacancy_user" vacancy.id %}" method="post" style="display: inline-block;">
            {% csrf_token %}
            <input type="submit" value="Add to WishList">
        </form>

        <form action="{% url "detail_vacancy" vacancy.id %}" method="post" style="display: inline-block;">
            {% csrf_token %}
            <input type="submit" value="About vacancy">
        </form>

    {% endfor %}

{% endblock %}