{%extends 'main_app/base.html' %}
{% block title %}
    EdInHi
{% endblock%}

{% block content %}

	<h3 style="margin-top:60px; text-align:center">{{skill.name}}</h3>
	<h4 style="margin-top:60px; text-align:center">Recommended Video</h4>

	{% for v in skill.media_video.all %}
	<div style="text-align:center">
	<iframe width="640" height="460"
		src="{{ v.url }}">
	</iframe>
	<p style="text-align:center" >{{ v.description }}</p>
	</div>
	{% endfor %}

	<h4 style="margin-top:60px; text-align:center">Recommended Books</h4>
	{{ skill.media_books.count }}
	{% for v in skill.media_books.all %}
		<div style="text-align:center">
			<img width="100px" src="{{ v.image }}">
			<a href="{{ v.url }}"> {{ v.name }} </a>
			<p style="text-align:center" >{{ v.description }}</p>
		</div>
	{% endfor %}


{% endblock %}