{% extends 'main_app/base.html' %}
{% load staticfiles %}
{% block title %}
    Log in
{% endblock %}
{% block content %}
    <div class="container container-main form-box">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form data-toggle="validator" id="signInForm" role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input data-minlength="6" name="password" type="password"
                               class="form-control" id="pwd">
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-info">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}