{% extends 'main_app/base.html' %}
{% load staticfiles %}
{% block title %}
    EdInHi
{% endblock %}

{% block content %}
    <div class="container container-main form-box">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input name="email" type="email" class="form-control" id="email" onfocusout="checkField(this.id)">
                        <div class="help-block" id="email-err"></div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input name="password" type="password" class="form-control" id="pwd"
                               onfocusout="checkField(this.id)">
                        <div class="help-block" id="pwd-err"></div>
                    </div>
                    <div class="form-group" id="re-pwd-form">
                        <label for="pwd">Re-password:</label>
                        <input name="repassword" type="password" class="form-control" id="re-pwd">
                        <div class="help-block" id="re-pwd-err"></div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-info">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "js/validation.js" %}"></script>
{% endblock %}